<!DOCTYPE html> 
<html>

<head>
  <title>chicago crime dataset</title>
</head>

<body>
<h1 style="text-align:center">Chicago crime dataset analysis using gcp</h1>



<div style="margin-top:70px;">
<h1 style="text-align:center"> Data</h1> 
<img src="static/table.png" alt="first query" width="1000" height="500" style="vertical-align:middle;margin:0px 150px">
<p> The dataset is provided by City of Chicago(https://data.cityofchicago.org/Public-Safety/Crimes- 2001-to-Present/ijzp-q8t2) and reflects reported incidents of crime from 2001 to present.
Our data-set has around 4 million rows and is 1 GB in size.
The data has 22 columns.Some of the columns relevant to this project are: <b>ID, Case number, Date, Block, Primary Type, Latitude, Longitude.</b>

 </div>

<div style="margin-top:70px;">
<h1 style="text-align:center"> Pipeline</h1> 
<img src="static/pipeline.png" alt="first query" width="1000" height="500" style="vertical-align:middle;margin:0px 150px">


</div>

<div style="margin-top:70px;">
<h1 style="text-align:center"> Dataflow Pipeline</h1> 
<img src="static/batchflow.png" alt="first query" width="1000" height="1000" style="vertical-align:middle;margin:0px 150px">


</div>

<div style="margin-top:70px;">
  <h1>
    Following are the screenshots for the analysis done on the bigquery 
  </h1>
</div>
<div style="margin-top:70px;">
  <h2>How the crime has varied over the years?</h2>
  <img src="static/first.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>How number of crimes reported varied over months for data between 2010 and 2017</h2>
  <img src="static/second.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Change number of reported cases in assault and theft for each ward between 2016 and 2017</h2>
  <img src="static/third.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Top 15 wards for reported cases for narcotics in 2016</h2>
  <img src="static/fourth.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Is there a difference in the types of crime happening over weekday and weekend?</h2>
  <img src="static/fifth.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Which crime gets reported the most in a year ?</h2>
  <img src="static/sixth.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Total crimes reported each year</h2>
  <img src="static/seven.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

<div style="margin-top:70px;">
  <h2>Number of crimes reported each day of the week over the years</h2>
  <img src="static/eight.png" alt="first query" width="800" height="500" style="vertical-align:middle;margin:0px 150px">
</div>

</body>
</html>
